**/__pycache__/
**/*.pyc
**/.DS_Store
**/.env
**/.venv
**/.mypy_cache/
**/.pytest_cache/
**/.ipynb_checkpoints/
shared/models/*
./hf_models/
./ollama_models/
./whisper_models/
./nemo_models/
./comfy_models/
./yolo_models/
.git
.gitignore
*.md
*.log
